.select-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* text-align: center; */
}
.input-selection {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 2rem;
}
.input-selection > input:nth-child(1) {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.input-selection > input:nth-child(2) {
  width: 10%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.note {
  display: flex;
  align-items: end;
  margin-bottom: 10px;
  font-style: italic;
}
.container-options-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.option-button {
  width: 25%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  cursor: pointer;
}
.option-button:hover {
  background: #e9e9e9;
}
.devise {
  display: flex;
  justify-content: center;
  text-align: end;
  margin: 1rem 0;
}

.validate {
  display: block;
  margin: 1rem auto;
  padding: 10px 80px;
  border: none;
  border-radius: 5px;
  background: #825400;
  color: white;
  cursor: pointer;
}
.validate:hover {
  background: #a86e03;
}
