.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
}

.Navbuttons {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.Log {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  padding-right: 4rem;
}

.LogoPoP {
  width: 20%;
  height: auto;
}
