* {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.keen-slider {
  display: flex;
}

[class^="number-slide"],
[class*=" number-slide"] {
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.keen-slider .number-slide {
  content: "";
}
.slider {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-style: none;
}
